<div id="header">
    <img src="/assets/img/burger.png">   </img>
    <h1>Event SkyScraper</h1>
</div>

<div id="burger">
test test test
 <h1>test {{title}}</h1>
<h2>By {{author.name}} and {{people}}</h2>
<h2>By {{this.title}} and {{this.people.firstName}}</h2>
<h2>By {{this.context.title}} and {{people.firstName}}</h2>
<h2>By {{context.title}} and {{people.firstName}}</h2>
<h2>By {{author.name}} and {{people}}</h2>
<h2>By {{each.title}} and {{each.people.firstName}}</h2>
<h2>By {{this.context.title}} and {{people.firstName}}</h2>
<h2>By {{title}} and {{people.firstName}}</h2>
</div>
